*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.card{
    background-color: rgb(219, 184, 132);  
    margin: 20px;
    width: 290px;
    height: 500px;
    border-radius: 15px;   
     box-shadow: 15px 15px 15px black;
  
    text-align: center;
   

}
.img{
    height: 280px;
    margin-bottom: 10px;
    border-radius: 15px 15px 0 0;
    background-size: cover;
    margin-left: 15px;
}
.p1{
    background-image: url('./image/pic1.webp')
}
.p2{
    background-image: url('./image/pic2.webp')
}
.p3{
    background-image: url('./image/pic3.webp')
}
.card h3{
    padding: 1px;
    font-size: 20px;
    color: rgb(81, 79, 77);
    align-items: center;
}
.card p
{
    padding: 5px;

    margin-top: 15px;
    margin-bottom: 15px;
}
.heading{
    text-align: center;
}
.para{
    font-size: 20px;
}